@import "tailwindcss";

@theme {
  --font-sans: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;
  --color-pama-blue: #003D79;
}

:root {
  --font-sans: var(--font-jakarta);
}

body {
  font-family: var(--font-jakarta), sans-serif;
  background-color: #f4f7fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Animasi Swivel Logo */
@keyframes swivel {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

.animate-swivel {
  animation: swivel 3s infinite linear;
  perspective: 1000px;
}

/* app/globals.css */

body {
  font-family: var(--font-jakarta);
  /* Gunakan background-image saja, jangan gunakan background-color di sini */
  background: radial-gradient(#CBD5E1 1px, #F1F5F9 1px);
  background-size: 30px 30px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}